<form [formGroup]="settingsNameForm">
  <!-- <mat-progress-bar *ngIf="isDimConnected() === false; else notConnected" id="dim-progress" mode="determinate" value="100" [ngStyle]="{'background-color':'green'}" style="margin-bottom: 10px; margin-top:-10px; max-width:10%"></mat-progress-bar>
  <ng-template #notConnected>
    <mat-progress-bar id="dim-progress" mode="determinate" value="100" [ngStyle]="{'color':'red'}" style="margin-bottom: 10px; margin-top:-10px; max-width:10%"></mat-progress-bar>
  </ng-template> -->

  <table id="settings">
    <tr>
      <td>
        <button (click)="updateDim()" [disabled]="getDimStatus() == true" color="primary" mat-raised-button type="submit">
          <span *ngIf="getDimStatus() == true">Updating...</span>
          <span *ngIf="getDimStatus() == false">Update</span>
        </button>
      </td>
      <td>
        <button (click)="clearDIM()" color="warn" mat-raised-button
                matTooltip="Clears all DIM loadouts"
        >Clear DIM Loadouts
        </button>
      </td>
      <td>
        <button id="improveBtn" (click)="checkAllArmorImprovement()" [disabled]="getDimStatus() == true" color="primary" mat-raised-button type="submit">
          <span *ngIf="getDimStatus() == true">{{progressText}}</span>
          <span *ngIf="getDimStatus() == false">Check all for improved stats</span>
        </button>
      </td>
      <td> 
           <mat-label>DIM Connected: {{isDimConnected()}}</mat-label>
           <!-- <label id="progress" hidden="true">Progress: 0/0</label> -->
      </td>
      <!-- <td>
        <button
          (click)="openSnackBar('Copied the configuration to your clipboard. You can share it with your friends.')"
          [cdkCopyToClipboard]="config.getCurrentConfigBase64Compressed()" color="primary"
          mat-raised-button
          matTooltip="Copy your current configuration into your clipboard. You will be able to share it with others and import it later.">
          Copy Current
        </button>
      </td> -->
    </tr>
    <tr style="display: none">
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Load saved configuration</mat-label>
          <mat-select [(value)]="selectedEntry" [disabled]="storedConfigs.length == 0">
            <mat-option *ngFor="let element of storedConfigs" [value]="element.name">
              <span>(<span *ngIf="element.configuration.characterClass == 0">Titan</span>
                <span *ngIf="element.configuration.characterClass == 1">Hunter</span>
                <span *ngIf="element.configuration.characterClass == 2">Warlock</span>)
              </span>
              <span> {{element.name}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button (click)="load(selectedEntry)" [disabled]="!selectedEntry || storedConfigs.length == 0" color="primary"
                mat-raised-button
                matTooltip="Load the currently selected configuration.">Load
        </button>
      </td>
    </tr>
  </table>
</form>
<br/>

<table [dataSource]="getDimItemsEnabled()" mat-table>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Name</th>
    <td style="overflow: hidden; text-overflow: ellipsis; max-width: 20ch;" *matCellDef="let element" mat-cell>{{element.storedConfig.name}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="class">
    <th *matHeaderCellDef mat-header-cell>
      Class
    </th>
    <td *matCellDef="let element" mat-cell>
      <span *ngIf="element.storedConfig.configuration.characterClass == 0">Titan</span>
      <span *ngIf="element.storedConfig.configuration.characterClass == 1">Hunter</span>
      <span *ngIf="element.storedConfig.configuration.characterClass == 2">Warlock</span>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="mobility">
    <th *matHeaderCellDef mat-header-cell>
      <app-stat-icon [stat]="0"></app-stat-icon>
    </th>
    <td *matCellDef="let element" mat-cell>
      {{element.storedConfig.configuration.minimumStatTiers[0].value * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="resilience">
    <th *matHeaderCellDef mat-header-cell>
      <app-stat-icon [stat]="1"></app-stat-icon>
    </th>
    <td *matCellDef="let element" mat-cell>
      {{element.storedConfig.configuration.minimumStatTiers[1].value * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="recovery">
    <th *matHeaderCellDef mat-header-cell>
      <app-stat-icon [stat]="2"></app-stat-icon>
    </th>
    <td *matCellDef="let element" mat-cell>
      {{element.storedConfig.configuration.minimumStatTiers[2].value * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="discipline">
    <th *matHeaderCellDef mat-header-cell>
      <app-stat-icon [stat]="3"></app-stat-icon>
    </th>
    <td *matCellDef="let element" mat-cell>
      {{element.storedConfig.configuration.minimumStatTiers[3].value * 10}}
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="intellect">
    <th *matHeaderCellDef mat-header-cell>
      <app-stat-icon [stat]="4"></app-stat-icon>
    </th>
    <td *matCellDef="let element" mat-cell>
      {{element.storedConfig.configuration.minimumStatTiers[4].value * 10}}
    </td>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="strength">
    <th *matHeaderCellDef mat-header-cell>
      <app-stat-icon [stat]="5"></app-stat-icon>
    </th>
    <td *matCellDef="let element" mat-cell>
      {{element.storedConfig.configuration.minimumStatTiers[5].value * 10}}
    </td>
  </ng-container>

  <!-- maybe put stuff in the element itself to try and link better -->

  <!-- Position Column -->
  <ng-container matColumnDef="improve">
    <th *matHeaderCellDef mat-header-cell>
      <mat-icon style="transform: translateY(15%)">arrow_upward</mat-icon>
    </th>
    <td *matCellDef="let element" mat-cell>
      <ng-container *ngIf="getCheckingLoadout() == element.storedConfig.dimID; else notInProgress">
        <mat-icon matTooltip="Checking..." 
        [ngStyle]="{'color':'lightgray'}" style="padding-top: 15%">more_horiz</mat-icon>
      </ng-container>
      <ng-template #notInProgress>

        <ng-container *ngIf="element.higherResult.init == true; then checkImprovement; else notChecked"></ng-container>
        <ng-template #checkImprovement>
          <ng-container *ngIf="element.higherResult.higher == false; else improve">
            <mat-icon (click)="checkArmorImprovement(element.storedConfig.dimID)" matTooltip="No improvement found when last checked" 
              [ngStyle]="{'color':'gray'}" style="padding-top: 15%">horizontal_rule</mat-icon>
          </ng-container>
          <ng-template #improve>
              <mat-icon (click)="toggleSeenLoadout(element.storedConfig.dimID)" matTooltipClass="allow-cr" matTooltip="{{howCanLoadoutImprove(element.storedConfig.dimID)}}" 
               [ngStyle]="{'color': element.higherResult.seen == true ? 'gray' : element.higherResult.usesLimitedArmor == true ? 'red' : 'lime'}" style="padding-top: 15%">arrow_circle_up</mat-icon>  
            </ng-template>
        </ng-template>
        <ng-template #notChecked><mat-icon (click)="checkArmorImprovement(element.storedConfig.dimID)" matTooltip="Check loadout for improvement" 
          [ngStyle]="{'color':'gray'}" style="padding-top: 15%">cached</mat-icon></ng-template>
      </ng-template>
      
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell>

    </th>
    <td *matCellDef="let element" mat-cell>
      <!-- <button (click)="disableLoadout(element.dimID)" color="warn" mat-icon-button
              matTooltip="Disable this loadout.">
        <mat-icon>delete_forever</mat-icon>
      </button> -->
      <button (click)="load(element.storedConfig.name)" [ngStyle]="{'color':'deepskyblue'}" mat-icon-button
              matTooltip="Load this loadout into D2ArmorPicker">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
      <!-- <button (click)="copySingleSettingToClipboard(element)"
              color="primary"
              mat-icon-button
              matTooltip="Copy this configuration into your clipboard. You will be able to share it with others and import it later.">
        <mat-icon>get_app</mat-icon>
      </button> -->

    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

